<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ironmanReactNativeCli Dev.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>851436AA590DDE1342881B11A6DEDA76C1B1E694</string>
				<key>dateExpires</key>
				<string>2024/3/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>851436AA590DDE1342881B11A6DEDA76C1B1E694</string>
						<key>dateExpires</key>
						<string>2024/3/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YPUUR82ARM</string>
						<key>name</key>
						<string>EVGallop Mobility System Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YPUUR82ARM.org.reactjs.native.example.ironmanReactNativeCli-Dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YPUUR82ARM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ironmanReactNativeCli Dev.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>00164c98-cb22-4057-bfff-38d49b8aca3d</string>
				<key>dateExpires</key>
				<string>2024/9/3</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YPUUR82ARM</string>
				<key>name</key>
				<string>EVGallop Mobility System Corporation</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
