<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>upowerDev.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>851436AA590DDE1342881B11A6DEDA76C1B1E694</string>
				<key>dateExpires</key>
				<string>2024/3/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>851436AA590DDE1342881B11A6DEDA76C1B1E694</string>
						<key>dateExpires</key>
						<string>2024/3/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YPUUR82ARM</string>
						<key>name</key>
						<string>EVGallop Mobility System Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YPUUR82ARM.com.upower.dev</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>qrcode.u-power.app</string>
					<string>merchant.app.u-power</string>
				</array>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.app.u-power</string>
				</array>
				<key>com.apple.developer.pass-type-identifiers</key>
				<array>
					<string>YPUUR82ARM.*</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>YPUUR82ARM</string>
				<key>com.apple.developer.usernotifications.communication</key>
				<true/>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>upowerDev.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e624c27-bd10-4e50-b205-42f3e60477a4</string>
				<key>dateExpires</key>
				<string>2024/4/10</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.upower.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YPUUR82ARM</string>
				<key>name</key>
				<string>EVGallop Mobility System Corporation</string>
			</dict>
			<key>versionNumber</key>
			<string>1.9.0</string>
		</dict>
	</array>
</dict>
</plist>
